@import '@/styles/function';

.widget-webside-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 0px 10px;
  justify-content: center;
  border-radius: 5%;
  background-color: var(--widget-webside-background-color);
  cursor: pointer;
  &-logo {
    height: 70%;
    img {
      height: 100%;
      object-fit: cover;
    }
  }
  &-name {
    flex: 1;
    margin-left: 4px;
    color: #fff;
    font-size: 1em;
    text-align: center;
    @include line(1);
  }
}

// 监听容器
@container panel-widget (max-width: 120px) {
  .widget-webside-row-name {
    font-size: 12px;
  }
}
