@import '@/styles/function';

.widget-webside-column {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  border-radius: 5%;
  background-color: var(--widget-webside-background-color);
  cursor: pointer;
  &-logo {
    display: flex;
    width: 50%;
    height: max-content;
    img {
      width: 100%;
      object-fit: cover;
    }
  }
  &-name {
    color: #fff;
    font-size: 14px;
    text-align: center;
    margin-top: max(10%, 4px);
    @include line(1);
  }
}

// 监听容器
@container panel-widget (max-width: 70px) {
  .widget-webside-column-name {
    font-size: 12px;
  }
}
